<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <mdb-navbar-brand><a class="navbar-brand" href="#">TMd</a></mdb-navbar-brand>

    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/search" mdbWavesEffect>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/collections" mdbWavesEffect>Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About us</a>
            </li>
        </ul>
    </links>

</mdb-navbar>